<!DOCTYPE html>
{% load static %}
{% static "" as staticUrl %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{{ staticUrl }}app_goods/css/global-style.css">
    <title>Register</title>
</head>
<body>
<h2>Зарегистрируйтесь:</h2>
<form method="POST">
    {% csrf_token %}

    <!-- form variable -->
    {{ form.as_p }}

    <input type="submit" name="Login">
</form>
<p>
    <a href="{% url 'index' %}">На главную</a>
</p>
</body>
</html>